<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <script src="../JS/notHome.js"></script>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/nav.css">


    <title>Data Visualization</title>
    
     <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Frano Steyn Student-2109231">
    <meta name = "viewport" content = "user-scalable=no, width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <body>
            <h1>DESIGN</h1>

            <article>
                <h2>STYLE GUIDE</h2>
                <p>This website is focused on data visualization. I wanted to keep things simple
                seeing that simple websites are easier to digest in my opinion and I like the look
                of clean websites. I decided to use some of my favourite colours seeing that they
                complement each other well while having good contrasts with one another. My main
                goal for this website is to focus on the graphs rather than making the website pretty.
                That being said, I will try to make the website look nice. My initial style for this site
            was changed into the blue style it is now after peer reviews have revealed how "ugly" the orange was.</p>
                <br>
                <h2>HOME PAGE WIREFRAME</h2>
                <img class="blogImage" src = "../images/HomeWireFrame.jpg" 
                alt = "Wireframe of my initial home page.">
                <br><br>
                <h2>GRAPH PAGE WIREFRAME</h2>
                <img class="blogImage" src = "../images/GraphsWireFrame.jpg" 
                alt = "Wireframe of my initial graphs page.">
                <br>
                <h2>RATIONALE</h2>
                <p>
                    The reason I decided on using the data that I did is because I wanted to share 
                    perspective on Johannesburg and which aspects of the city needs to be considered 
                    with regards to quality of life while showing the contrast of Joburg and 
                    New York City (a rich first world city). I feel that a lot of people (myself included) 
                    get lost in pessimism or optimism when talking about how much we love or hate 
                    the place that we live in. I wanted to make graphs that show which aspects of the cities are 
                    good and which aspects are bad, these aspects will hopefully give perspective on the viewer's
                    city with regards to how good or bad they actually have it. My two interactive graphs represent 
                    one of the worst and one of the best cities in the world. I chose to use the data for these two 
                    cities in order to show how the least and most privileged people in the world live. I wanted 
                    to show the contrast between the two extremes. My data driven art was made with Joburg’s data, and 
                    I decided to reiterate Joburg’s data because I live in Joburg, I thus felt like using a city 
                    I know to make the art. As a photographer I like expressing myself through pictures and I Thus 
                    decided to make a picture with the data.
                </p>
            </article>
            <footer>
                <p class = "h-card">
                    <section class = "p-name">Franco Steyn</section>
                    
                    <section class = "p-postal-code">2194</section>
                    
                    <section class = "tel">071-612-8379</section>
                    
                    <a class = "e-mail" href = "2109231@students.wats.ac.za">2109231@students.wits.ac.za</a>
                </p>
              </footer>
        </body>   
    </main>
</body>
</html>