<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <script src="../JS/notHome.js"></script>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/nav.css">


    <title>Data Visualization</title>
    
     <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Frano Steyn Student-2109231">
    <meta name = "viewport" content = "user-scalable=no, width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <body>
            <h1>DESIGN</h1>

            <article>
                <h2>STYLE GUIDE</h2>
                <p>This website is focused on data visualization. I wanted to keep things simple
                seeing that simple websites are easier to digest in my opinion and I like the look
                of clean websites. I decided to use some of my favourite colours seeing that they
                complement each other well while having good contrasts with one another. My main
                goal for this website is to focus on the graphs rather than making the website pretty.
                That being said, I will try to make the website look nice.</p>
                <br>
                <h2>HOME PAGE WIREFRAME</h2>
                <img class="blogImage" src = "../images/HomeWireFrame.jpg" 
                alt = "Wireframe of my initial home page.">
                <br><br>
                <h2>GRAPH PAGE WIREFRAME</h2>
                <img class="blogImage" src = "../images/GraphsWireFrame.jpg" 
                alt = "Wireframe of my initial graphs page.">
                <br>
                <h2>RATIONALE</h2>
                <p>The reason I decided on using the data that I did is because I wanted to share 
                    perspective on Johannesburg and which aspects of the city needs to be considered 
                    with regards to quality of life. I feel that a lot of people (myself included) 
                    get lost in pessimism or optimism when talking about how much we love or hate 
                    Johannesburg. I wanted to make a graph that shows which aspects of the city are 
                    good and which aspects need to be kept in mind while living here.</p>
            </article>
            <footer>
                <p class = "h-card">
                    <section class = "p-name">Franco Steyn</section>
                    
                    <section class = "p-postal-code">2194</section>
                    
                    <section class = "tel">071-612-8379</section>
                    
                    <a class = "e-mail" href = "2109231@students.wats.ac.za">2109231@students.wits.ac.za</a>
                </p>
              </footer>
        </body>   
    </main>
</body>
</html>