body{
    position: relative;
    min-height: 100hv;
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10%;
    background: radial-gradient(rgb(36, 43, 49) , rgb(68, 80, 92));
    overflow-x: hidden;
  background-attachment: fixed;
  font-family: 'Acme', sans-serif;
}

#graph3{
  padding-bottom: 10%;
}

p{
  margin-left: 12%;
  margin-right: 12%;
  font-size: 25px;
}

h1{
    padding-top: 5%;
    color: rgb(172, 110, 30);
    text-align: center;
    font-size: 40px;
}

h2{
  color: rgb(172, 110, 30);
    font-size: 30px;
    padding-left: 12%;
}

article{
  color: rgb(206, 206, 206);
  text-align: justify;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 15%;
}

footer{
  background-color: rgb(172, 110, 30);
  padding: 1%;
  padding-right: 100%;
  padding-left: 5%;
  color: rgb(206, 206, 206);
  font-size: 24px;
  bottom: 0;
  position: absolute;
}

.onPageLinks a{
  
  color: rgb(206, 206, 206);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

.onPageLinks a:hover{
  font-size: 30px;
}

ul{
  padding-left: 12%;
  padding-right: 12%;
  font-size: 25px;
}

.blogImage{
  width: 80%;
  height: 80%;
  transform: translateX(12%);
  padding: 2%;
}

.infoBeautyImage{
  width: 80%;
  height: 60vh;
  transform: translateX(12%);
  padding: 2%;
}



@media screen and (max-width:800px){
  body{
    padding-top: 10%;
    padding-bottom: 20%;
  }

  footer{
    margin-top: 25%;
    font-size: 15px;
  }

  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  .blogImage{
    width: 90%;
    height: 90%;
    transform: translateX(4%);
  }  

  p{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 15px;
  }
  ul{
    font-size: 15px;
  }
  .onPageLinks a{
    font-size: 15px;
  }
  .onPageLinks a:hover{
    font-size: 15px;
  }

}

@media screen and (max-width:400px){
  body{
    padding-top: 15%;
    padding-bottom: 63.5%;
  }
  p{
    font-size: 12px;
  }
  h1{
    padding-top: 10%;
    font-size: 20px;
  }
  h2{
    font-size: 15px;
  }
  .onPageLinks a{
    font-size: 12px;
  }
  .onPageLinks a:hover{
    font-size: 12px;
  }
  ul{
    font-size: 12px;
  }

  footer{
    font-size: 12px;
  }
  .blogImage{
    width: 90%;
    height: 60%;
    transform: translateX(4%);
  }  
  .infoBeautyImage{
    width: 100%;
    height: 35vh;
    transform: translateX(3%);
    padding: 1%;
  }
}