body{
    top: 20vh;
    border: none;
    margin: 0;
    padding: 0;
    background-color:rgb(83, 107, 131);
    overflow-x: hidden;
  background-attachment: fixed;
}

h1{
    padding-top: 5%;
    color: rgb(206, 118, 60);
    text-align: center;
}
